.image-wrapper {
  background-color: rgb(240, 240, 240);
  text-align: center;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.rank {
  font-size: 16px;
  line-height: 24px;
  color: #188bff;
}

.article-container,
.container {
  border: 2px solid #becffc;
  border-radius: 4px;
}

.article-container {
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.main-area {
  width: 500px;
}

.ellipsis, h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-container:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#main {
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 6%;
}

#aside {
  text-align: center;
  size: flex;
  padding: 2%;
  margin-top: 4.1%;
  margin-left: 2%;
  margin-right: 2%;
}

.topic-list {
  text-align: center;
}


ul {
  list-style: none;
  padding-left: 0px;
}

.topic-item {
  font-size: larger;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
}

.item {
  color: #282c34;
}


.article-item {
  width: 100%;
  border-spacing: 8px;
  padding: auto;
  margin: auto;
}


.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.nav-Container {
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
}

.newsList {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.date {
  font-weight: bolder;
}

.app-header {
  background-color: #7ca2ef;
  min-height: 10vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.modal-title {
  margin: 2%;
}


.modal-content {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

#wrap {
  min-height: 10vh;
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
}

footer {
  width: 100%;
  height: 90px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: #808080;
  font-size: 11px;
}
footer p{
  margin-top: 0;
  margin-bottom: 0;
}
footer p div{
  display: block;
  margin-left: 20px;
}